<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="components" />

	<!-- Definition for textEditor bean -->
	<bean id="textEditor" class="beans.TextEditor">
	</bean>

	<!-- Definition for spellChecker bean -->
	<bean id="spellChecker" class="beans.SpellChecker">
	</bean>

	<!-- Our dependencies -->
	<bean id="userStory" name="userStory" class="beans.UserStory">
		<constructor-arg ref="user2" />
		<constructor-arg value="User Story 1 Constructor Arg" />
		<property name="user" ref="aSuperGeniusUser2" />
		<property name="name" value="User Story 1" />
	</bean>
	<bean id="aSuperGeniusUser" name="user" class="beans.User">
		<property name="role" value="SuperGenius User" />
	</bean>
	<bean id="aSuperGeniusUser2" name="user2" class="beans.User">
		<property name="role" value="SuperGenius User2" />
	</bean>
</beans>